@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

h1 {
  color: purple;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 50px;    
}

a:link, a:visited {  
  background-color: purple;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}
  
a:hover, a:active {
  background-color: red;
}

#homeBody {
  text-align: center;
  background-color: #E69DF8;
  padding: 50px;
}

.navBar {
  display: inline-block;
}